@font-face {
  font-family: "Varta";
  src: url("../fonts/Varta-Regular.eot");
  src: url("../fonts/Varta-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Varta-Regular.woff2") format("woff2"), url("../fonts/Varta-Regular.woff") format("woff"), url("../fonts/Varta-Regular.ttf") format("truetype"), url("../fonts/Varta-Regular.svg#Varta-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
body {
  font-family: Varta;
}

h5 {
  font-size: 1vw;
}

h1 {
  position: absolute;
  padding: 15px;
}

body {
  background-image: url("../images/refont/mountain-bg.jpg");
  background-size: cover;
  height: 300vh;
}

.toggle {
  text-align: center;
  margin-top: 4vh;
  user-select: none;
}
.toggle p {
  margin-right: 1.8vw;
}

.toggle--checkbox {
  display: none;
}

.toggle--btn {
  display: block;
  margin: 0 auto;
  font-size: 1.4em;
  transition: all 350ms ease-in;
}
.toggle--btn:hover {
  cursor: pointer;
}

.toggle--btn, .toggle--btn:before, .toggle--btn:after,
.toggle--checkbox,
.toggle--checkbox:before,
.toggle--checkbox:after {
  transition: all 250ms ease-in;
}
.toggle--btn:before, .toggle--btn:after,
.toggle--checkbox:before,
.toggle--checkbox:after {
  content: "";
  display: block;
}

.toggle--daynight .toggle--btn,
.toggle--like .toggle--btn {
  position: relative;
  height: 20px;
  width: 40px;
  border-radius: 20px;
}
.toggle--daynight .toggle--btn:before,
.toggle--like .toggle--btn:before {
  position: absolute;
  top: 2px;
  left: 4px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.toggle--daynight .toggle--btn {
  border: 3px solid #4c241d;
  background-color: #fae6e6;
}
.toggle--daynight .toggle--btn:before {
  background-color: #fff;
  border: 3px solid #4c241d;
}
.toggle--daynight .toggle--checkbox:checked + .toggle--btn {
  background-color: #b5a19c;
  border: 3px solid #4c241d;
}
.toggle--daynight .toggle--checkbox:checked + .toggle--btn:before {
  left: 20px;
  background-color: #fff;
  border: 3px solid #4c241d;
}
.toggle--daynight .toggle--checkbox:checked + .toggle--btn:after {
  opacity: 100;
  animation-name: bounceIn;
  animation-duration: 0.6s;
  animation-delay: 0.1s;
  animation-fill-mode: backwards;
  animation-timing-function: ease-in-out;
}

/*---------------------------*/
.function-applicate {
  background-color: transparent;
  color: white;
  -webkit-border-radius: 5px;
  border: 1px solid white;
}

.toggle {
  margin-left: -6vw;
}

.toggle p {
  color: white;
  font-size: 1.2vw;
  margin-left: 7vw;
}

/*----*/
.name-directoryStart {
  display: flex;
  align-items: center;
  color: white;
  font-size: 1.2vw;
  font-weight: bold;
}

.name-directoryStart span {
  margin-left: 0.5vw;
  line-height: 100%;
}

.container2 {
  width: 6.5vw;
  height: 3.5vh;
  border-radius: 10px;
  margin-left: 6vw;
  margin-top: -3vh;
  overflow: hidden;
}

/*  Where the animation takes place  */
.container2 .container-inner2 {
  background: #EF4D4D;
  padding: 1em;
  border-radius: 10px;
  width: 7vw;
  height: 45vh;
  clip-path: circle(3% at 9% 3.5%);
  transition: all 0.5s ease-in-out;
}

.container-inner2 input {
  position: absolute;
  margin-top: -1vh;
  margin-left: 1vw;
}

.container2:hover .container-inner2 {
  clip-path: circle(75%);
  background: #EF4D4D;
}

.container-rename {
  position: absolute;
  width: 20vw;
  height: 25vh;
  border-radius: 10px;
  margin-left: 2.2vw;
  margin-top: -1.5vh;
  overflow: hidden;
  border-radius: 10px;
}

.container-rename .container-innerRename {
  background: #EF4D4D;
  padding: 1em;
  border-radius: 10px;
  width: 7vw;
  height: 15vh;
  clip-path: circle(5% at 9% 6%);
  transition: all 0.5s ease-in-out;
}

.container-innerRename form {
  margin-top: -1vh;
  margin-left: 1vw;
}

.container-innerRename:hover {
  clip-path: circle(75%);
  background: #EF4D4D;
  z-index: 999;
}

.container-innerRename:hover .container-innerRename span {
  opacity: 0;
}

#button-navAside {
  border: none;
  background-color: transparent;
  font-size: 1vw;
  color: white;
  line-height: 180%;
}

li {
  list-style: none;
}

.logo-dir2 button {
  background-color: transparent;
  border: none;
}

.container-innerRename span {
  position: absolute;
  color: white;
  font-size: 1.2vw;
  margin-left: -3.85vw;
  margin-top: -1.9vh;
  opacity: 1;
  transition: 0.5s ease-in-out;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 20vw;
  top: 20vh;
  width: 40vw;
  height: 100vh;
  overflow: auto;
}

.modal-content {
  background-color: #fefefe;
  margin: 20px;
  width: 28vw;
  height: 35vh;
  overflow: auto;
  box-shadow: 0 10px 20px rgba(239, 77, 77, 0.19), 0 6px 6px rgba(239, 77, 77, 0.23);
  border-radius: 5px;
  padding: 15px;
}

.closet {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.closet:hover,
.closet:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.breadCrumbs {
  font-size: 1vw;
  margin-left: 2vw;
  width: 50%;
  padding-top: 2vh;
}
.breadCrumbs ul {
  display: flex;
  margin-bottom: 0;
}
.breadCrumbs ul li {
  list-style: inside url("../images/right-arrow.svg");
  margin-right: 2vw;
}

.img_directoryMini {
  width: 0.8vw;
  height: 2.5vh;
  margin-right: 1vw;
}

/*--------------------------*/
.container-navAside2 {
  float: right;
  width: 15vw;
  height: 100%;
  border-radius: 0 10px 10px 0;
  background-color: #ECA8A8;
}

.nav-aside {
  position: absolute;
  margin-top: 5vh;
  margin-left: 3.2vw;
}
.nav-aside h5 {
  margin-left: 1vw;
}
.nav-aside ul {
  margin-top: -2vh;
}
.nav-aside ul li {
  list-style: none;
  margin-left: 0.5vw;
  display: flex;
  align-items: start;
  margin-top: 1vh;
}

.containerInner-mainNAv {
  width: 50vw;
  margin-top: 25vh;
  position: absolute;
  display: flex;
  flex-wrap: wrap;
}

.logo-dir2 {
  text-align: center;
  margin-bottom: 5vh;
}
.logo-dir2 p {
  margin-top: -0.8vh;
}
.logo-dir2 a + p {
  margin-top: 0.2vh;
}

.container-dir {
  margin-left: 2vw;
  text-align: center;
  margin-left: 1vw;
  margin-top: 4vh;
  height: 60vh;
}
.container-dir img {
  width: 4vw;
  height: auto;
}
.logo-dir2 {
  margin-left: 2vw;
  width: 6vw;
}

.container-explorer {
  width: 65vw;
  height: 80vh;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  background-color: white;
  margin-top: 6vh;
  margin-left: 8vh;
  overflow: hidden;
}

.row {
  display: flex;
}

.close {
  display: flex;
  justify-content: flex-end;
}
.close img {
  width: 1vw;
  height: 2vh;
  padding: 0.8rem;
}

.container-close {
  width: 4vw;
  display: flex;
  justify-content: center;
  transition: 0.2s;
}
.container-close:hover {
  background-color: red;
}

.container-close img:hover {
  filter: invert(100%);
}

.function {
  background-color: #fae6e6;
  display: flex;
  justify-content: space-between;
  height: 17vh;
  align-items: center;
  width: 100%;
  margin-top: 3rem;
}
.function .function-applicate {
  margin-left: 3.5vw;
}
.function .function_firstparts {
  display: flex;
}
.function p {
  margin-left: 2vw;
}

input[type=text] {
  border: 2px solid red;
  border-radius: 4px;
  width: 100%;
}

/*----------------------------*/
.wrapper-windowExplo2 {
  margin-top: 15vh;
  margin-left: 4vw;
  width: 65vw;
  height: 70vh;
  background-color: white;
  border-radius: 10px 15px 15px 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

/*# sourceMappingURL=style.css.map */
