.container-dir{
  margin-left: 2vw;
  text-align: center;
  margin-left: 1vw;
  margin-top: 4vh;
  height: 60vh;
  img {
    width: 4vw;
    height: auto;
  }
  p{

  }
}

.logo-dir2{
  margin-left: 2vw;
  width: 6vw;
}

.container-explorer{
  width: 65vw;
  height: 80vh;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  background-color: white;
  margin-top: 6vh;
  margin-left: 8vh;
  overflow: hidden;
}

.row {
  display: flex;
}

.close {
  display: flex;
  justify-content: flex-end;
  img {
    width: 1vw;
    height: 2vh;
    padding: .8rem;
  }
}

.container-close{
  width: 4vw;
  display: flex;
  justify-content: center;
  transition: 0.2s;
  &:hover{
    background-color: red;
  }
}

.container-close img:hover{
  filter: invert(100%);
}

.function {
  background-color: rgb(250, 230,230);
  display: flex;
  justify-content: space-between;
  height: 17vh;
  align-items: center;
  width: 100%;
  margin-top: 3rem;
  .function-applicate{
    margin-left: 3.5vw;
  }
  .function_firstparts{
    display: flex;
  }
  p {
    margin-left: 2vw;
  }
}

input[type=text] {
  border: 2px solid red;
  border-radius: 4px;
  width: 100%;
}

/*----------------------------*/

.wrapper-windowExplo2{
  margin-top: 15vh;
  margin-left: 4vw;
  width: 65vw;
  height: 70vh;
  background-color: white;
  border-radius: 10px 15px 15px 10px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
